
canvas{
    width: 100%;
}

#cover-v{
	width: 100%;
	height: 100vh;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

#fixed-back{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: -2;
	background: #000000;
}

h1{
    color: #FFE400;
}

.sub-title{
    font-weight: normal;
}

.intro{
    color: #FFFFFF;
}

.bg-b{
    transition: background 0.7s ease;
}

.content{
    color: #FFFFFF;
}

.content-f{
    height: 100vh;
    text-align: center;
    padding: 100px 0;
}

.content-w{
    height: 100vh;
}

h2{
    text-align: center;
}

.p-box{
    background-color: #FFFFFF;
    color: #000000;
    padding: 15px 20px;
    border: solid 10px #FFE400;
}

@media screen and (max-width: 768px){
    #cover-v>#cover-box{
		flex-grow: 8;
	}

	#cover-v>h1{
        width: calc(100% - 40px); 
        border: solid 10px #FFE400;
        padding: 10px 20px;
        font-size: 45px;
	}

    
}