
#cover-v{
	width: calc(100% - 40px);
	height: 100vh;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: #FFFFFF;
    margin: 0 auto;
    text-shadow: 0px 0px 8px rgba(0%, 0%, 0%, 0.8);
}

body{
	/* background-image: url('../assets/bg.jpg'); */
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
}

.yellow{
    color: #FFE400;
}

.white{
    color: #FFFFFF;
}

#fixed-back{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: -2;
	transition: filter 1s ease;
	background: #000000;
}
 
  .fullpage-wrapper {
	width: 100%!important; 
	transform: none!important;  
} 

 .fp-section {
	width: 100%!important; 
	position: absolute; 
	left: 0;
	top: 0; 
	visibility: hidden;   
	opacity: 0;
	z-index: 0;  
} 

.fp-section.active {
	visibility: visible;  
	opacity: 1;
    z-index: 1; 
}  


.box-container h2{
	margin-top: 0;
}

video, canvas{
    width: 100%;
}

.full{
    height: 100vh;
}

.popup{
    transition: all 0.7s ease;
    transform: translate(0, 100px);
}

.flex-layout{
    display: flex;
    align-items: center;
    justify-content: center;
}

.back{
    width: 100%;
    height: 100vh;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all 0.7s ease;    
}

.gray-back{
    background: rgba(0, 0, 0, 0.8);
} 

.yellow-back{
    background-color: #ffCE00;
    height: 0;
}

.yellow-back-2{
    background-color: #FFCE00;
}

.box-container{
    background-color: #FFFFFF;
    width: calc(100% - 70px);
    padding: 40px 40px;
    margin: 0 auto;
    opacity: 0;
    transform: translate(0, 50px);
    transition: all 0.7s ease;
    box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.1);
}

.quote-contain{
    color: #6A3906;
    border-top-color: #6A3906;
    border-bottom-color: #6A3906;
}

#editor{
    color: #000000;
    padding: 0;
    border-bottom: none;
}

@media screen and (max-width: 768px){
    h2{
        margin-top: 32px;
    }
    p{
        line-height: 30px;
    }
    .f-video-contain{
        margin-bottom: 32px;
    }
    #cover-title{
        font-size: 26px;
        transition: all 0.7s ease;
        opacity: 0;
        transform: translate(0, 50px);
    }
    #cover-box{
	    flex-grow: 4; 
    }
    #cover-box-2{
        flex-grow: 1;
    }

    #cover-v hr{
        height: 2px;
        margin: 0 auto;
        width: 1px;
        background: rgba(255, 255, 255, 0.6);
        transition: width 0.7s ease;
        transition-delay: 0.3s;
    }

	#cover-v h1{
        padding: 0;
        transition: all 0.7s ease;
        opacity: 0;
        transform: translate(0, 50px);
    }
    
    #cover-subtitle{
        font-size: 40px;
        margin-top: -17px; 
        transition: all 0.7s ease;
        opacity: 0;
        transform: translate(0, 50px);
    }

    .share-block{
        margin-top: 32px;
    }

}
