
#cover-v{
	width: calc(100% - 40px);
	height: 100vh;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: #FFFFFF;
    margin: 0 auto;
    text-shadow: 0px 0px 8px rgba(0%, 0%, 0%, 0.8);
}

body{
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
}

.yellow{
    color: #FFE400;
}

.orange{
    color: #E95513;
}

.white{
    color: #FFFFFF;
}

#fixed-back{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: -2;
	transition: filter 1s ease;
	background: #000000;
}
 
  .fullpage-wrapper {
	width: 100%!important; 
	transform: none!important;  
} 

 .fp-section {
	width: 100%!important; 
	position: absolute; 
	left: 0;
	top: 0; 
	visibility: hidden;   
	opacity: 0;
	z-index: 0;  
} 

.fp-section.active {
	visibility: visible;  
	opacity: 1;
    z-index: 1; 
}  


.box-container h2{
	margin-top: 0;
}

video, canvas{
    width: 100%;
}

video{
    object-fit: contain;
}

.full{
    height: 100vh;
}

.popup{
    transition: all 0.7s ease;
    transform: translate(0, 100px);
}

.flex-layout{
    display: flex;
    align-items: center;
    justify-content: center;
}

.back{
    width: 100%;
    height: 100vh;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all 0.7s ease;    
}

.gray-back{
    background: rgba(0, 0, 0, 0.8);
} 

.yellow-back{
    background-color: #FFCE00;
    height: 0;
}

.yellow-back-2{
    background-color: #FFCE00;
}

.orange-back{
    background-color: #EA7526;
    height: 0;
}

.orange-back-2{
    background-color: #EA7526;
}

.box-container{
    background-color: #FFFFFF;
    width: calc(100% - 70px);
    padding: 40px 40px;
    margin: 0 auto;
    opacity: 0;
    transform: translate(0, 50px);
    transition: all 0.7s ease;
    box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.1);
}

.box-container-c{
    background-color: #FFFFFF;
    width: calc(100% - 70px);
    padding: 40px 40px;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 0.7s ease;
    box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.1);
}

.quote-contain{
    color: #6A3906;
    border-top-color: #6A3906;
    border-bottom-color: #6A3906;
}

#editor{
    color: #000000;
    padding: 0;
    border-bottom: none;
}

#video-state-contain{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
}

#video-state{
    width: 35px;
    height: 35px; 
    opacity: 0;
    transition: opacity 0.7s ease;
}

#video-state-contain .fa-play{
    position: absolute;
    top: 8px;
    left: 12px;
    font-size: 19px;
    opacity: 0;
    color: #FFA31F;
    transition: opacity 0.7s ease;
}

.ab-center{
    position: absolute;
    top: 0;
    left: 0;
}

#nav-icon{
  width: 25px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  opacity: 1;
}

#nav-icon span{
  display: block;
  position: absolute;
  height: 1px;
  width: calc(100% - 10px);
  margin: 0 auto;
  background: #FFFFFF;
  border-radius: 2px;
  opacity: 1;
  left: 0%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 8px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 12px;
}

#nav-icon span:nth-child(4) {
  top: 16px;
}

#nav-icon.open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

#head{
    background-color: #FFCE00;
    transition: opacity 0.7s ease;
    opacity: 0;
    z-index: 10000;
}

#head.open{
    opacity: 1;
}

.card{
    flex: 1 1 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gym-back{
    background-image: url('../assets/card1.png')
}

.fencing-back{
    background-image: url('../assets/card2.png')
}

.logo-contain{
    margin: 0 auto;
}

.card-title{
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: -0.4px;
    text-align: justify;
    color: #ffffff;
    text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 10%;
    left: 20px;
}

#indicator {
    opacity: 1;
    background-color: transparent;
}

#indicator-bar{
    transition: width 0.7s ease;
    background-color: #FFB81F;
}

#pannel{
    width: 100%;
    height: calc(100vh - 46px); 
    transition: transform 0.7s ease;
    transform: translate(0, -100%); 
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 9999;
}

#comment-pannel{
    width: 80%;
    height: 100vh;
    background-color: #FFFFFF;
    overflow-y: scroll;
    position: fixed;
    z-index: 99999999999;
    top: 0;
    right: 0;
    transition: transform 0.7s ease;
    transform: translate(100%, 0); 
}

#comment-pannel.open{
    transform: translate(0, 0);
}

#comment-pannel .fa{
    font-size: 25px;
    margin-left: 10px;
    margin-top: 5px;
}

#pannel .udn-logo{
    width: 110px;
}

#pannel .nmd-logo{
    width: 110px;
}

#pannel.open{
    transform: translate(0, 46px);
} 

#relate-contain{
    margin-top: 32px;
    text-align: left;
}

#relate-contain .row{
    margin: 0;
}

#relate-contain p{
    font-size: 16px;
    line-height: 24px;
}

.pl-0{
    padding-left: 0;
    padding-right: 10px;
}

.pr-0{
    padding-left: 10px;
    padding-right: 0;
}

.squre{
    width: 25px;
    height: 25px;
    position: fixed;
    z-index: 10000;
    border-radius: 3px;
    
}

#hbutton{
    top: 12px;
    right: 20px;
    padding: 0 5px;
    background-color: #9E760D;
    opacity: 0.7;
}
#msg{
    right: 20px;
    top: 47px;
    transition: opacity 0.7s ease;
}

#msg.close{
    opacity: 0;
}

.under{
    transition: all 0.5s linear;
    border-bottom: 3px solid transparent;
}

@keyframes btnmove{
	0% {
	    transform: translate3d(0, 0, 0);
	    -webkit-transform: translate3d(0, 0, 0);
	    -moz-transform: translate3d(0, 0, 0);
	    -ms-transform: translate3d(0, 0, 0);
	}
	15% {
	    transform: translate3d(0, 4px, 0);
	    -webkit-transform: translate3d(0, 4px, 0);
	    -moz-transform: translate3d(0, 4px, 0);
	    -ms-transform: translate3d(0, 4px, 0);
	}
	30% {
	    transform: translate3d(0, 0, 0);
	    -webkit-transform: translate3d(0, 0, 0);
	    -moz-transform: translate3d(0, 0, 0);
	    -ms-transform: translate3d(0, 0, 0);
	}
	100% {
	    transform: translate3d(0, 0, 0);
	    -webkit-transform: translate3d(0, 0, 0);
	    -moz-transform: translate3d(0, 0, 0);
	    -ms-transform: translate3d(0, 0, 0);
	}
}

.progress{
    height: 4px;
}
.progress-bar{
    height: 4px;
    width: 0;
    background-color: #FFE400;
}

@media screen and (max-width: 768px){
    
    #page-down{
        position: fixed;
        border-radius: 3px;
        width: 30px;
        height: 30px;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 10000;
        display: flex;
        right: 20px;
        bottom: 50px;
        opacity: 1;
        transition: opacity 0.7s ease;
    }
    #page-down .fa{
        margin: 0 auto;
        line-height: 30px;
        font-size: 30px;
        color: #FFFFFF;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration: 2s;
    }
    h2{
        margin-top: 32px;
        margin-bottom: 16px;
    }
    p{
        line-height: 30px;
    }
    .f-video-contain{
        margin-bottom: 16px;
    }
    #cover-title{
        font-size: 26px;
        transition: all 0.7s ease;
        opacity: 0;
        transform: translate(0, 50px);
    }
    #cover-box{
	    flex-grow: 4; 
    }
    #cover-box-2{
        flex-grow: 1;
    }

    #cover-v hr{
        height: 2px;
        margin: 0 auto;
        width: 1px;
        background: rgba(255, 255, 255, 0.6);
        transition: width 0.7s ease;
        transition-delay: 0.3s;
    }

	#cover-v h1{
        padding: 0;
        transition: all 0.7s ease;
        opacity: 0;
        transform: translate(0, 50px);
    }
    
    #cover-subtitle{
        font-size: 40px;
        margin-top: -17px; 
        transition: all 0.7s ease;
        opacity: 0;
        transform: translate(0, 50px);
    }

    .share-block{
        margin-top: 32px;
    }

    .logo-block{
        margin-left: 0px;
    }

}

@media screen and (max-width: 350px){
    h2{
        font-size: 23px;
    }
    p{
        font-size: 16px;
        line-height: 24px;
    }
    p>br{
        line-height: 24px;
    }
}
